body {
    background: #333;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#review-body{
    display: flex;
    width: 100%;
    margin-left: 5rem;
    flex-direction: row;
    justify-content: flex-start;
}

#review-container{
    display: flex;
    width: 100%;
    margin-left: 5rem;
    flex-direction: column;
    justify-content: flex-start;
}

.review{
    background-color: aqua;
    font-size: 2rem;
    border-radius: .5rem;
    padding: .1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    width: 50%;
}

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    font-size: 5rem;
}

.nav-button{
    padding: .5rem;
    border-radius: .5rem;
    background: aqua;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: aqua;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.submit-field{
    background: aqua;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.add-form{
    display: flex;
    flex-direction: column;
}

.novel{
    font-size: 2rem;
    background-color: aqua;
    margin: .3rem;
    padding: .5rem;
    border-radius: .5rem;
}

.author{
    font-size: 2rem;
    background-color: aqua;
    padding: .5rem;
    border-radius: .5rem;
}

.synopsis{
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 1rem;
    background-color: aqua;
    padding: 1rem;
    border-radius: 1rem;
    overflow-wrap: break-word;
    max-width: 30%;
}

.back-button{
    padding: .5rem;
    border-radius: .5rem;
    background: aqua;
    margin-top: 4rem;
    font-size: 3rem;
}

.delete-submit{
    border: o none;
    padding: .5rem;
    border-radius: .5rem;
    margin-top: 4rem;
    background: aqua;
}

.novel-container{
    margin-bottom: 2rem;
}