{% extends "layout.html" %}
{% block content %}

<body>
    <div class="topbar">
        <div class="header"> Add new novels</div>
    </div>
    {% if session["user_id"] %}
    <div class="submit-field">
        <form action="#", method="post" class="add-form">
            <label for="novel-name">Title of Novel</label>
            <input type="text", name="novel-name", minlength="1", maxlength="30" required>
            <label for="author-name">Name of Author</label>
            <input type="text", name="author-name", minlength="1", maxlength="30" required>
            <label for="novel-synopsis">Short description of novel</label>
            <input type="text", name="novel-synopsis", maxlength="500">
            <input type="submit", value="Add">
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        </form>
    </div>
    {% else %}
    <div class="nav-button">You must be logged in to add novels</div>
    {% endif %}
    <a href="/" class="back-button">Back</a>
</body>

{% endblock %}