{% extends "layout.html" %}
{% block content %}

<body>
    <div class="topbar" style="flex-direction: column;">
        <div class="header"> {{user_info.name.capitalize()}}</div>
        <a href="/logout" class="nav-button">Logout</a>
    </div>
    <div class="nav-button">Following:</div>
    <div class="novel-container">
        {% for novel in following %}
        <div class="novel"> 
            <a href="/novel/{{novel[1]}}">{{novel[0].capitalize()}} - {{novel[2]}} New</a>
        </div>
        {% endfor %}
    </div>

    <div class="nav-button">Novel Reviews</div>
    <div id="review-container">
    {% for review in reviews%}
    <div class="review">
        <a href="/novel/{{review.id}}" style="font-size: 3rem;">{{review.name.capitalize()}} - {{review.rating}} Stars </a>
        <p>{{review.content}}</p>
    </div>
    {% endfor  %}
    </div>
    <a href="/" class="back-button">Back</a>
</body>

{% endblock %}